@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F4F6;
    height: 100vh;
    padding: 72px;
    font-family: 'Space Grotesk', sans-serif;
}

.overtitle {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
    color: #787491;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #18161F;
}

main {
    margin-top: 48px;
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.card__content {
    background-color: #FAFAFA;
    max-width: 320px;
    padding: 24px;
}

.card__content__title {
    font-size: 32px;
    font-weight: 700;
    color: #18161F;
}