@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #18161f;
    height: 100vh;
    padding: 0 72px;
    font-family: 'Space Grotesk', sans-serif;
}

.header {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container__btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__btn {
    padding: 16px 32px;
    color: #fafafa;
    font-size: 1rem;
}

.aluno {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
}

.inscricao {
    border: 1px solid #49445f;
    border-radius: 90px;
    font-weight: 700;
}

.hero {
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    max-width: 680px;
}

.hero__text__overtitle {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #d6d4e2;
}

.hero__text__title {
    max-width: 602px;
    font-weight: 700;
    font-size: 3.25rem;
    color: #fafafa;
    margin-bottom: 32px;
}

.hero__text__subtitle {
    font-weight: 400;
    font-size: 1.25rem;
    color: #d6d4e2;
    margin-bottom: 56px;
}