@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 256px 1fr;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

.logo {
    padding: 24px 0;
    text-align: center;
}

.user {
    padding: 16px 24px;
    border-top: 1px solid #D6D4E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__info__name {
    font-size: 16px;
    font-weight: 700;
}

.user__info__course {
    font-size: 12px;
    font-weight: 400;
}

nav {
    border-top: 1px solid #D6D4E2;
    padding: 24px 0;
}

.menu__item {
    padding: 12px 32px;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.menu__item__link {
    font-size: 16px;
    font-weight: 500;
}