html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body, .conteiner {
    height: 100%;
}

.conteiner, main {
    display: flex;
}

aside {
    width: 90px;
    background: #ebc468;
}

main {
    flex: 1;

    flex-direction: column;
}

header {
    background: #e63131;
}

.content {
    background: #4ebbff;

    flex: 1;
}

footer {
    background: #4eff83;
}

aside, header, .content, footer {
    padding: 16px;
}