@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6d4e2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

.comment {
    background-color: #fafafa;
    max-width: 720px;
    padding: 24px 56px;
    border-radius: 32px;
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
}

.comment__info__name {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #18161f;
}

.comment__info__status {
    color: #787490;
}

.comment__info__content {
    font-size: 24px;
    font-weight: 400;
    color: #18161f;
}

.last-comment {
    display: flex;
    flex-direction: column;
}

.last-border {
    border-radius: 32px 32px 0 0;
}

.comment__stats {
    background-color: #f5f4f6;
    padding: 24px 56px;
    display: flex;
    align-items: center;
    border-radius: 0 0 32px 32px;
}