@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    background-color: #fafafa;
    max-width: 208px;
    padding: 32px 24px;
    border-radius: 32px;
    transition: all 0.5s ease;
}

.icon-conteiner {
    margin-bottom: 12px;
}

.icon-conteiner .icon {
    stroke: #18161F;
    transition: stroke 0.5s ease;
}

p {
    color: #787491;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 16px;
    transition: color 0.5s ease;
}

h1 {
    color: #18161F;
    font-size: 2rem;
    font-weight: 700;
    transition: color 0.5s ease;
}

main:hover {
    background-color: #18161F;
}
main:hover .icon-conteiner .icon {
    stroke: #fafafa;
}

main:hover p {
    color: #D6D4E2;
}

main:hover h1 {
    color: #fafafa;
}
